@import 'assets/scss/reset';
@import 'assets/scss/variables';

body {
    background-color: blue;
    display: flex;
    user-select: none;
}

div {
    background-image: url('assets/img/dog.jpg');
}

.yunseok {
    margin: 0;
    top: 0;
}
